<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The nightSpot</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <!-- main css -->
    <link rel="stylesheet" href="/public/css/main.css">
    <!-- additional css -->
    {{#if css}}
    <link rel="stylesheet" href={{css}}>
    {{/if}}
  </head>
  <body>
      <div class="container">
          {{{body}}}
      </div>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/public/js/jquery-3.2.1.min.js" ></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
  </body>
</html>
