<div id="greeting" class="display-4 text-center">
    Nightlife this Weekend?
</div>
<div class="row">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8 mx-auto">
        <form class="/api/search" action="/api/search" method="get" enctype="application/x-www-form-urlencoded">
            <input type="text" name="location" value="">
            <span><input type="submit" value="Search" class="btn btn-info"></span>
        </form>
    </div>
</div>
