#greeting {
    margin-top: 2rem;
}

.text-intro {
}

#searchField {
    background-color: #EDE7F6;
    border-color: purple;
    color: purple;
    border-width: 2px 0px 2px 2px;
}

#submitBtn {
    background-color: #EDE7F6;
    border-color: purple;
    border-width: 2px;
    color: purple;
}

#loadingDiv {
    color: black;
}

.card {
    box-shadow: 0px 0px 10px 0px;
    animation: fadein 1s;
}
.card-title {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: "Inconsolata", monospace;
    color: purple;
}

.card-title:hover {
    text-decoration: none;
}

hr {
    margin-top: 0px;
}

.card-text {
    padding-left: 3%;
    padding-right: 3%;
    text-align: justify;
    text-justify: inter-word;
}

.card-footer {
    padding: 0px;
    padding-top: 1px;
    margin-top: 1em;
}
.btn-going{
    width: 100%;
    height: 100%;
    background-color: #8e44ad;
    border-bottom: 4px solid #80399d;
    border-color: purple;
    border-radius: 0px;
    color: white;
    font-family: "Inconsolata", monospace;
    font-size: 1.2rem;
}

.btn-going:hover {
    text-decoration: none;
    background-color: #D8ECE7;
}
.hidden {
    display: none;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
