body {
    font-family: "Open Sans", sans-serif;
    background-color: #EDE7F6;
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/open_sans/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Inconsolata";
    font-weight: 400;
    font-style: normal;
    src: url("/public/fonts/inconsolata/Inconsolata-Regular.ttf");
}
